<div class="form">
  <%= form_with(model: content, local: true) do |form| %>
    <%= form.file_field :images, placeholder:"Image_url",class:"image" %>
    <%= form.text_area :text, placeholder:"TEXT", rows:"10",cols:"30" %>
    <%= form.submit "SEND",class:"send" %>
  <% end %>
</div>