<div class="content_row">
  <h3><%= @nicknameさん %></h3>
  <div class="mylog">
    <% @contents.each do |content|%>
      <%= render partial:"contents/content", locals:{content: content} %>
    <% end %>    
  </div>
</div>
  